h1 {
  text-align: center;
}

video {
  display: block;
  margin: auto;
}

h2, h3, ul, ol {
  text-align: center;
}

body {
  background-image: url(marble.jpg);
}

.subseccion.titulo {
  color: #04FFF7;
  background-color: #F535AA;
  font-size: 50px;
  font-weight: bold;
}

.subseccion#prevista {
  color: #F535AA;
  background-color: #04FFF7;
  font-size: 50px;
  font-weight: bold;
  font-style: "Poppins";
}

.flex-container {
  display: flexbox;
  border: solid #F535AA 8px;
  align-items: center;
}

.box {
  width: 350px;
  height: 300px;
  border-radius: 15px;
  font-size: 40px;
  font-weight: bold;
  flex-wrap: wrap;
  color: #F535AA;
  text-align: center;
}

#box1 {
  background-color: #04FFF7;
  border: solid #F535AA 8px;

}

#box2 {
  background-color: #04FFF7;
  border: solid #F535AA 8px;

}